[nessus]
hostname=localhost
port=8834
access_key=
secret_key=
trash=false
debug=false
# EXPERIMENTAL - Uses unofficial API, may break at any moment.
compliance=false

[mysql]
hostname=localhost
port=3306
username=mysql_username
password=mysql_password
database=nessusdb